body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin: 1em 0;
  text-align: center;
}

h3 {
  margin: 1em 0;
  padding: 0;
  text-align: center;
}

img {
  height: 10em;
}

.app {
  background:
  radial-gradient(#35654d 15%, transparent 16%) 0 0,
  radial-gradient(#35654d 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color: #378508;
  background-size:16px 16px;
  min-height: 100vh;
  color: white;
}

.discard-col {
  border: 1px solid red;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 0em 1em;
  min-height: 10.5em;
  padding: 0.5em;
}

.game-col {
  border: 1px solid black;
  margin: 0em auto;
  text-align: center;
}

.game-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 22em;
}

.center-container {
  display: flex;
  justify-content: center;
}
